<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>データベースからの取得</h1>
        <ul>
        <% for(let e of dat){ %>
            <li><%= e.team %></li>
        <% } %>
        </ui>
        <script>
            console.log("@ejs");
        </script>
    </body>
</html>
